
  
  .unavailable-substat {
    color: red;
    font-weight: bold;
  }



  .artifact-listing-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .artifact-listing-table th,
  .artifact-listing-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .artifact-listing-table th {
    background-color: #f2f2f2;
  }